.container {
  position: relative;
  width: 100vw;
  height: 750px;

  z-index: 1;

  .wave {
    position: absolute;
    bottom: -5px;

    width: 100%;
    min-height: 5vh;

    background-image: url("../../../../public/contacts/wave.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
  }
}

.animBack {
  position: absolute;

  width: 100%;
  height: 100%;
  max-width: 100%;

  overflow: hidden;

  .animBackDiv1 {
    position: absolute;
    bottom: 0%;
    left: 0%;

    width: 40%;
    height: 60%;

    border-radius: 0 50% 0 50%;

    background: #1045af;

    animation: AnimBackDiv1 infinite alternate-reverse 2s;
  }

  @keyframes AnimBackDiv1 {
    0% {
      width: 40%;
      height: 60%;
    }
    100% {
      width: 40%;
      height: 50%;
    }
  }

  .animBackDiv2 {
    position: absolute;
    bottom: 0px;
    left: 0px;

    width: 70%;
    height: 30%;

    border-radius: 0;

    background: #39a2fe;
    animation: AnimBackDiv2 infinite alternate-reverse 1s;
  }

  @keyframes AnimBackDiv2 {
    0% {
      width: 70%;
      height: 30%;
    }
    100% {
      width: 50%;
      height: 30%;
    }
  }

  .animBackDiv3 {
    position: absolute;
    bottom: 0px;
    left: 10%;

    width: 10%;
    height: 30%;

    border-radius: 50%;

    background: #b8faff;
    animation: AnimBackDiv3 infinite alternate 2s;
  }

  @keyframes AnimBackDiv3 {
    0% {
      width: 10%;
      height: 30%;
    }
    100% {
      width: 20%;
      height: 40%;
    }
  }

  .animBackDiv4 {
    position: absolute;
    bottom: 0px;
    right: 0px;

    width: 50%;
    height: 60%;

    border-radius: 50% 0 0 0;

    background: #4d3589;

    animation: AnimBackDiv4 infinite alternate-reverse 2s;
  }

  @keyframes AnimBackDiv4 {
    0% {
      width: 50%;
      height: 60%;
    }
    100% {
      width: 45%;
      height: 50%;
    }
  }

  .animBackDiv5 {
    position: absolute;
    bottom: 0%;
    right: 10%;

    width: 50%;
    height: 30%;

    background: #a07df8;

    animation: AnimBackDiv5 infinite alternate-reverse 1.5s;
  }

  @keyframes AnimBackDiv5 {
    0% {
      width: 50%;
      height: 30%;
    }
    100% {
      width: 40%;
      height: 30%;
    }
  }

  .animBackDiv6 {
    position: absolute;
    bottom: 0%;
    right: 0%;

    width: 20%;
    height: 30%;

    border: 50%;

    background: #ded3ff;

    animation: AnimBackDiv6 infinite alternate 2s;
  }

  @keyframes AnimBackDiv6 {
    0% {
      width: 20%;
      height: 30%;
    }
    100% {
      width: 30%;
      height: 40%;
    }
  }

  .animBackResult {
    position: absolute;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(110px);

    animation: bluring infinite alternate-reverse 1s;
  }

  @keyframes bluring {
    0% {
      backdrop-filter: blur(110px);
    }
    100% {
      backdrop-filter: blur(90px);
    }
  }
}

.carts {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 90%;

  z-index: 5;

  .cartsTitle {
    font-size: 35px;
    font-weight: bold;
    font-family: var(--m_plus_1p);
    color: var(--color-white);
  }

  .subs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 80px;

    padding: 20px;

    box-sizing: border-box;
    width: 100%;
    height: 550px;

    .subsSwiper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 350px;
      height: 500px;
    }

    .subsCart {
      cursor: pointer;

      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;

      position: relative;
      width: 350px;
      height: 500px;

      border-radius: 20px;

      background-size: cover;
    }

    .subsCart1 {
      background-image: url("../../../../public/CART\ 1.png");
    }

    .subsCart2 {
      background-image: url("../../../../public/CART\ 2.png");
    }

    .subsCart3 {
      background-image: url("../../../../public/CART\ 3.png");
    }
  }
}

@media (max-width: 800px) {
  .carts {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 90%;

    z-index: 5;

    .cartsTitle {
      font-size: 35px;
      font-weight: bold;
      font-family: var(--m_plus_1p);
      color: var(--color-white);
    }

    .subs {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      margin-top: 80px;

      padding: 20px;

      box-sizing: border-box;
      width: 100%;
      height: 550px;

      .subsSwiper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 500px;
      }

      .subsCart {
        cursor: pointer;

        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;

        position: relative;
        width: 280px;
        height: 400px;

        border-radius: 20px;

        background-size: contain;
        background-repeat: no-repeat;
      }

      .subsCart1 {
        background-image: url("../../../../public/CART\ 1.png");
      }

      .subsCart2 {
        background-image: url("../../../../public/CART\ 2.png");
      }

      .subsCart3 {
        background-image: url("../../../../public/CART\ 3.png");
      }
    }
  }
}
