.footer {
  position: relative;

  margin-top: 100px;
  padding: 10px 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 230px;
  height: auto;

  border-radius: 50px 50px 0 0;
  background-color: #ff7ef6;

  box-sizing: border-box;

  animation: back 10s infinite alternate ease-in;

  .footerTitle {
    margin-top: 20px;

    font-family: var(--paytone_one);
    font-weight: 700;

    font-size: 25px;
    color: var(--color-white);
  }

  .footerContacts {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 25px;

    .footerContactsImg:first-child {
      margin-left: 0;
    }

    .footerContactsImg {
      margin-left: 50px;
      width: 45px;
      height: 45px;
    }
  }

  .footerIP {
    position: relative;
    margin-top: 30px;

    font-family: var(--Huninn);
    font-weight: 700;

    text-align: center;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.544);
  }
}

@keyframes back {
  0% {
    background-color: #9370db; /* Мягкий фиолетовый */
  }
  14% {
    background-color: #aa76b7; /* Приглушенный лавандовый */
  }
  28% {
    background-color: #7b68ee; /* Средний сине-фиолетовый */
  }
  42% {
    background-color: #6a5acd; /* Мягкий сливовый */
  }
  57% {
    background-color: #8470ff; /* Светлый фиолетово-синий */
  }
  71% {
    background-color: #6a76c5; /* Нежный сиреневый */
  }
  85% {
    background-color: #886ce4; /* Мягкий фиалковый */
  }
  100% {
    background-color: #a892e5; /* Светлый лавандовый */
  }
}

@media (max-width: 600px) {
  .footer {
    position: relative;

    margin-top: 100px;
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 230px;
    height: auto;

    border-radius: 50px 50px 0 0;
    background-color: #ff7ef6;

    box-sizing: border-box;

    animation: back 10s infinite alternate ease-in;

    .footerTitle {
      text-align: center;
      margin-top: 20px;

      font-family: var(--paytone_one);
      font-weight: 700;

      font-size: 25px;
      color: var(--color-white);
    }

    .footerContacts {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-top: 25px;

      .footerContactsImg:first-child {
        margin-left: 0;
      }

      .footerContactsImg {
        margin-left: 25px;
        width: 40px;
        height: 40px;
      }
    }

    .footerIP {
      text-align: center;
      position: relative;
      margin-top: 30px;

      font-family: var(--Huninn);
      font-weight: 700;

      text-align: center;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.544);
    }
  }
}
