.footer {
  position: relative;

  margin-top: 100px;
  padding: 10px 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 222px;
  height: auto;

  border-radius: 50px 50px 0 0;
  background-color: var(--color-blue2);

  box-sizing: border-box;

  .footerTitle {
    margin-top: 30px;

    font-family: var(--paytone_one);

    font-size: 30px;
    color: var(--color-white);
  }

  .footerContacts {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;

    .footerContactsImg:first-child {
      margin-left: 0;
    }

    .footerContactsImg {
      margin-left: 80px;
      width: 50px;
      height: 50px;
    }
  }

  .footerIP {
    margin-top: 20px;

    font-family: var(--paytone_one);

    text-align: center;
    font-size: 20px;
    color: var(--color-white);
  }
}

@media (max-width: 600px) {
  .footer {
    position: relative;

    margin-top: 100px;
    padding: 10px 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 222px;
    height: auto;

    border-radius: 50px 50px 0 0;
    background-color: var(--color-blue2);

    box-sizing: border-box;

    .footerTitle {
      margin-top: 30px;
      text-align: center;

      font-family: var(--paytone_one);

      font-size: 25px;
      color: var(--color-white);
    }

    .footerContacts {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-top: 20px;

      .footerContactsImg:first-child {
        margin-left: 0;
      }

      .footerContactsImg {
        margin-left: 20px;
        width: 50px;
        height: 50px;

        transition: .1s ease-in-out;
      }

      .footerContactsImg:hover {
        opacity: 0.8;
      }

      .footerContactsImg:active {
        transform: scale(0.95);
      }
    }

    .footerIP {
      margin-top: 20px;

      font-family: var(--paytone_one);

      text-align: center;
      font-size: 14px;
      color: var(--color-white);
    }
  }
}
