.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100px;

  padding: 0 50px;
  box-sizing: border-box;

  .headerNav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headerNavPage:first-child {
      margin-left: 0;
    }

    .headerNavPage {
      margin-left: 50px;

      font-size: 20px;
      font-family: var(--Huninn);
      font-weight: bold;

      text-decoration: none;

      color: var(--color-white);

      transition: 0.1s ease-in-out;
    }

    .headerNavPage:hover {
      opacity: 0.5;
    }

    .active:active {
      transform: scale(0.9);
      transition: 0.05s ease-in-out;
    }

    .active:first-child {
      margin-left: 0;
    }

    .active {
      margin-left: 50px;

      font-size: 20px;
      font-family: var(--Huninn);
      font-weight: bold;

      text-decoration: none;

      color: #ff7ef6;
      text-decoration: underline;

      transition: 0.1s ease-in-out;
    }

    .active:hover {
      opacity: 0.5;
    }

    .active:active {
      transform: scale(0.9);
      transition: 0.05s ease-in-out;
    }
  }

  .headerNavMobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;

    z-index: 9;
    transition: 0.2s ease-in-out;

    .headerNavPage {
      margin-top: 20px;
      font-size: 24px;
      font-family: var(--Huninn);
      font-weight: bold;

      text-decoration: none;

      color: var(--color-white);
      transition: 0.1s ease-in-out;
    }

    .headerNavPage:hover {
      opacity: 0.5;
    }

    .headerNavPage:active {
      transform: scale(0.9);
      transition: 0.05s ease-in-out;
    }

    .active {
      margin-top: 20px;
      font-size: 24px;
      font-family: var(--Huninn);
      font-weight: bold;

      text-decoration: none;

      color: var(--color-blue);
      transition: 0.1s ease-in-out;
    }

    .active:hover {
      opacity: 0.5;
    }

    .active:active {
      transform: scale(0.9);
      transition: 0.05s ease-in-out;
    }
  }

  .headerLogo {
    border-radius: 20px;
    width: 70px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  position: relative;
  width: 30px;
  height: 24px;

  z-index: 10;

  p:first-child {
    margin-top: 0;
  }

  p {
    position: relative;
    top: 0;
    cursor: pointer;
    margin-top: 8px;
    width: 40px;
    height: 3px;

    background-color: var(--color-white);
    transition: 0.2s ease-in-out;
  }

  .menuP1Active {
    position: relative;
    top: 45%;
    transform: rotate(45deg);
    background-color: var(--color-blue);
  }
  .menuP2Active {
    width: 0px;
  }
  .menuP3Active {
    position: relative;
    top: -45%;
    transform: rotate(-45deg);
    background-color: var(--color-blue);
  }
}

.headerOff {
  display: none;
}

///

.lang {
  position: fixed;
  top: 30px;
  right: 50px;

  display: inline-block;
  z-index: 1000;

  color: white;
}

.dropdownBtn {
  cursor: pointer;

  width: 55px;
  height: 100%;

  border-radius: 5px;
  border: 2px solid #ccc;

  padding: 5px;

  backdrop-filter: blur(5px);
  background-color: #00000065;

  font-family: var(--Huninn);
  font-weight: 700;
  font-size: 16px;
  color: #ff7ef6;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;

  min-width: 160px;

  border-radius: 10px;
  border: 2px solid #ddd;

  backdrop-filter: blur(8px);
  background-color: #00000065;

  z-index: 90000;
}

.dropdownContent div {
  cursor: pointer;
  display: block;
  padding: 8px 16px;

  font-size: 16px;
  font-family: var(--khula);
  color: white;
  border-bottom: 2px solid #eee;
}

.dropdownContent div:hover {
  background: #ff7ef631;
}


.dropdownContent div:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: none;
}

.dropdownContent div:first-child {
  border-radius: 5px 5px 0 0;
}

.show {
  display: block !important;
}

.langActive{
  color: #ff7ef6  !important;
}


.langActive:hover {
  background: #ffffff26 !important;
}