.why {
  margin-top: 50px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 800px;

  z-index: 1;

  .title {
    background-color: black;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: var(--paytone_one);
    color: var(--color-white);

    z-index: 5;
  }

  .wave {
    position: absolute;
    top: 95px;

    width: 100%;
    height: 50px;

    background-image: url("../../../../public/contacts/waved.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    z-index: 1;
  }
}

.animBack {
  position: absolute;

  width: 100%;
  height: 100%;

  max-width: 100%;

  overflow: hidden;

  .animBackDiv1 {
    position: absolute;
    top: 0%;
    right: 0%;

    width: 40%;
    height: 60%;

    border-radius: 0 50% 0 50%;

    background: #ffecc6;

    animation: AnimBackDiv1 infinite alternate-reverse 2s;
  }

  @keyframes AnimBackDiv1 {
    0% {
      width: 40%;
      height: 60%;
    }
    100% {
      width: 40%;
      height: 50%;
    }
  }

  .animBackDiv2 {
    position: absolute;
    top: 0px;
    right: 0px;

    width: 70%;
    height: 30%;

    border-radius: 0;

    background: #ff7ef6;
    animation: AnimBackDiv2 infinite alternate-reverse 1s;
  }

  @keyframes AnimBackDiv2 {
    0% {
      width: 70%;
      height: 30%;
    }
    100% {
      width: 50%;
      height: 30%;
    }
  }

  .animBackDiv3 {
    position: absolute;
    top: 0px;
    right: 10%;

    width: 10%;
    height: 30%;

    border-radius: 50%;

    background: #bb8df5;
    animation: AnimBackDiv3 infinite alternate 2s;
  }

  @keyframes AnimBackDiv3 {
    0% {
      width: 10%;
      height: 30%;
    }
    100% {
      width: 20%;
      height: 40%;
    }
  }

  .animBackDiv4 {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 50%;
    height: 60%;

    border-radius: 50% 0 0 0;

    background: #beadff;

    animation: AnimBackDiv4 infinite alternate-reverse 2s;
  }

  @keyframes AnimBackDiv4 {
    0% {
      width: 50%;
      height: 60%;
    }
    100% {
      width: 45%;
      height: 50%;
    }
  }

  .animBackDiv5 {
    position: absolute;
    top: 0%;
    left: 10%;

    width: 50%;
    height: 30%;

    background: #ff9eec;

    animation: AnimBackDiv5 infinite alternate-reverse 1.5s;
  }

  @keyframes AnimBackDiv5 {
    0% {
      width: 50%;
      height: 30%;
    }
    100% {
      width: 40%;
      height: 30%;
    }
  }

  .animBackDiv6 {
    position: absolute;
    top: 0%;
    left: 0%;

    width: 20%;
    height: 30%;

    border: 50%;

    background: #ff7ef6;

    animation: AnimBackDiv6 infinite alternate 2s;
  }

  @keyframes AnimBackDiv6 {
    0% {
      width: 20%;
      height: 30%;
    }
    100% {
      width: 30%;
      height: 40%;
    }
  }

  .animBackResult {
    position: absolute;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(110px);

    animation: bluring infinite alternate-reverse 0.8s;
  }

  @keyframes bluring {
    0% {
      backdrop-filter: blur(110px);
    }
    100% {
      backdrop-filter: blur(90px);
    }
  }
}

.cont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: absolute;
  padding-left: 30px;
  box-sizing: border-box;
  top: 25%;
  width: 90%;

  z-index: 4;

  .contDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    min-height: fit-content;
    flex: 1;

    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;

    background: rgba(61, 61, 61, 0.508);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    backdrop-filter: blur(50px);

    color: white;

    .contTitle {
      text-align: center;
      font-size: 22px;
      font-family: var(--paytone_one);
      color: rgba(255, 255, 255, 0.761);
    }

    .contDesc:first-child {
      margin-top: 20px;
    }

    .contDesc {
      line-height: 25px;
      margin-top: 10px;
      width: 90%;
      font-size: 18px;
      font-family: var(--m_plus_1p);

      color: rgba(255, 255, 255, 0.471);
    }
  }
}

.canva {
  position: absolute;
  width: 400px;
  height: 400px;

  top: 450px;

  z-index: 3;
}

@media (max-width: 1200px) {
  .why {
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 800px;

    z-index: 1;

    .title {
      background-color: black;
      width: 100%;
      height: 100px;
      text-align: center;
      font-size: 35px;
      font-weight: bold;
      font-family: var(--paytone_one);
      color: var(--color-white);

      z-index: 5;
    }

    .wave {
      position: absolute;
      top: 95px;

      width: 100%;
      height: 50px;

      background-image: url("../../../../public/contacts/waved.png");
      background-repeat: repeat-x;
      background-size: auto 100%;
      z-index: 1;
    }
  }

  .cont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: absolute;
    padding-left: 0px;
    box-sizing: border-box;
    top: 25%;
    width: 100%;

    z-index: 4;

    .contDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
      min-height: fit-content;
      flex: 1;

      border-radius: 10px;
      padding: 15px;
      box-sizing: border-box;

      background: rgba(61, 61, 61, 0.508);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
      backdrop-filter: blur(50px);

      color: white;

      .contTitle {
        text-align: center;
        font-size: 22px;
        font-family: var(--paytone_one);
        color: rgba(255, 255, 255, 0.761);
      }

      .contDesc:first-child {
        margin-top: 20px;
      }

      .contDesc {
        line-height: 25px;
        margin-top: 10px;
        width: 90%;
        font-size: 18px;
        font-family: var(--m_plus_1p);

        color: rgba(255, 255, 255, 0.471);
      }
    }
  }
}

@media (max-width: 750px) {
  .why {
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 1000px;

    z-index: 1;

    .title {
      background-color: black;
      width: 100%;
      height: 100px;
      text-align: center;
      font-size: 35px;
      font-weight: bold;
      font-family: var(--paytone_one);
      color: var(--color-white);

      z-index: 5;
    }

    .wave {
      position: absolute;
      top: 95px;

      width: 100%;
      height: 50px;

      background-image: url("../../../../public/contacts/waved.png");
      background-repeat: repeat-x;
      background-size: auto 100%;
      z-index: 1;
    }
  }

  .cont {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    padding-left: 0px;
    box-sizing: border-box;
    top: 25%;
    width: 90%;
    height: 500px;

    z-index: 4;

    .contDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
      min-height: fit-content;
      flex: 1;

      border-radius: 10px;
      padding: 15px;
      box-sizing: border-box;

      background: rgba(61, 61, 61, 0.508);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
      backdrop-filter: blur(50px);

      color: white;

      .contTitle {
        text-align: center;
        font-size: 22px;
        font-family: var(--paytone_one);
        color: rgba(255, 255, 255, 0.761);
      }

      .contDesc:first-child {
        margin-top: 20px;
      }

      .contDesc {
        line-height: 25px;
        margin-top: 10px;
        width: 90%;
        font-size: 18px;
        font-family: var(--m_plus_1p);

        color: rgba(255, 255, 255, 0.471);
      }
    }
  }
}

.subsSwiper{
  display: flex;
  align-items: center;
  justify-content: center;
}