.why {
  margin-top: 50px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 800px;

  z-index: 1;

  .title {
    background-color: black;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: var(--paytone_one);
    color: var(--color-white);

    z-index: 5;
  }

  .wave {
    position: absolute;
    top: 95px;

    width: 100%;
    height: 50px;

    background-image: url("../../../../public/contacts/waved.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    z-index: 1;
  }
}

.animBack {
  position: absolute;

  width: 100%;
  height: 100%;

  max-width: 100%;

  overflow: hidden;

  .animBackDiv1 {
    position: absolute;
    top: 0%;
    right: 0%;

    width: 40%;
    height: 60%;

    border-radius: 0 50% 0 50%;

    background: #FFECC6;

    animation: AnimBackDiv1 infinite alternate-reverse 2s;
  }

  @keyframes AnimBackDiv1 {
    0% {
      width: 40%;
      height: 60%;
    }
    100% {
      width: 40%;
      height: 50%;
    }
  }

  .animBackDiv2 {
    position: absolute;
    top: 0px;
    right: 0px;

    width: 70%;
    height: 30%;

    border-radius: 0;

    background: #FF7EF6;
    animation: AnimBackDiv2 infinite alternate-reverse 1s;
  }

  @keyframes AnimBackDiv2 {
    0% {
      width: 70%;
      height: 30%;
    }
    100% {
      width: 50%;
      height: 30%;
    }
  }

  .animBackDiv3 {
    position: absolute;
    top: 0px;
    right: 10%;

    width: 10%;
    height: 30%;

    border-radius: 50%;

    background: #BB8DF5;
    animation: AnimBackDiv3 infinite alternate 2s;
  }

  @keyframes AnimBackDiv3 {
    0% {
      width: 10%;
      height: 30%;
    }
    100% {
      width: 20%;
      height: 40%;
    }
  }

  .animBackDiv4 {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 50%;
    height: 60%;

    border-radius: 50% 0 0 0;

    background: #BEADFF;

    animation: AnimBackDiv4 infinite alternate-reverse 2s;
  }

  @keyframes AnimBackDiv4 {
    0% {
      width: 50%;
      height: 60%;
    }
    100% {
      width: 45%;
      height: 50%;
    }
  }

  .animBackDiv5 {
    position: absolute;
    top: 0%;
    left: 10%;

    width: 50%;
    height: 30%;

    background: #FF9EEC;

    animation: AnimBackDiv5 infinite alternate-reverse 1.5s;
  }

  @keyframes AnimBackDiv5 {
    0% {
      width: 50%;
      height: 30%;
    }
    100% {
      width: 40%;
      height: 30%;
    }
  }

  .animBackDiv6 {
    position: absolute;
    top: 0%;
    left: 0%;

    width: 20%;
    height: 30%;

    border: 50%;

    background: #FF7EF6;

    animation: AnimBackDiv6 infinite alternate 2s;
  }

  @keyframes AnimBackDiv6 {
    0% {
      width: 20%;
      height: 30%;
    }
    100% {
      width: 30%;
      height: 40%;
    }
  }

  .animBackResult {
    position: absolute;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(110px);

    animation: bluring infinite alternate-reverse 0.8s;
  }

  @keyframes bluring {
    0% {
      backdrop-filter: blur(110px);
    }
    100% {
      backdrop-filter: blur(90px);
    }
  }
}

.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  position: absolute;
  top: 15%;
  width: 1150px;
  height: auto;

  .whyCont {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;

    .whyContTitle {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      font-family: var(--paytone_one);
      color: var(--color-white);
    }

    .whyContDesc {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-top: 10px;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      font-family: var(--m_plus_1p);
      color: rgba(255, 255, 255, 0.722);

      min-width: 320px;
      min-height: 80px;

      background-color: rgba(0, 0, 0, 0.479);
      border-radius: 20px;
      backdrop-filter: blur(10px);
      border: 3px solid var(--color-white);
      padding: 10px 30px;

      box-sizing: border-box;
    }
  }
}

@media (max-width: 1200px) {
  .why {
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 800px;

    z-index: 1;

    .title {
      background-color: black;
      width: 100%;
      height: 100px;
      text-align: center;
      font-size: 35px;
      font-weight: bold;
      font-family: var(--paytone_one);
      color: var(--color-white);

      z-index: 5;
    }

    .wave {
      position: absolute;
      top: 95px;

      width: 100%;
      height: 50px;

      background-image: url("../../../../public/contacts/waved.png");
      background-repeat: repeat-x;
      background-size: auto 100%;
      z-index: 1;
    }
  }

  .cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    position: absolute;
    top: 15%;
    width: 800px;
    height: auto;

    .whyCont {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 300px;

      .whyContTitle {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        font-family: var(--paytone_one);
        color: var(--color-white);
      }

      .whyContDesc {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        text-align: center;
        font-size: 18px;

        font-weight: 500;
        font-family: var(--m_plus_1p);
      color: rgba(255, 255, 255, 0.722);

        min-width: 320px;
        min-height: 80px;

        background-color: rgba(0, 0, 0, 0.479);
        border-radius: 20px;
        backdrop-filter: blur(10px);
        border: 3px solid var(--color-white);
        padding: 10px 30px;

        box-sizing: border-box;
      }
    }
  }
}

@media (max-width: 750px) {
  .why {
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 1300px;

    z-index: 1;

    .title {
      background-color: black;
      width: 100%;
      height: 100px;
      text-align: center;
      font-size: 35px;
      font-weight: bold;
      font-family: var(--paytone_one);
      color: var(--color-white);

      z-index: 5;
    }

    .wave {
      position: absolute;
      top: 95px;

      width: 100%;
      height: 50px;

      background-image: url("../../../../public/contacts/waved.png");
      background-repeat: repeat-x;
      background-size: auto 100%;
      z-index: 1;
    }
  }

  .cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    position: absolute;
    top: 15%;
    width: 260px;
    height: auto;

    .whyCont {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 300px;

      .whyContTitle {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        font-family: var(--paytone_one);
        color: var(--color-white);
      }

      .whyContDesc {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        text-align: center;
        font-size: 18px;

        font-weight: 500;
        font-family: var(--m_plus_1p);
      color: rgba(255, 255, 255, 0.722);

        min-width: 320px;
        min-height: 80px;

        background-color: rgba(0, 0, 0, 0.479);
        border-radius: 20px;
        backdrop-filter: blur(10px);
        border: 3px solid var(--color-white);
        padding: 10px 30px;

        box-sizing: border-box;
      }
    }
  }
}
