:root {
  --color-blue: #33a1fd;
  --color-blue2: #004dca;
  --color-white: #d9d9d9;
}

* {
  border: 0;
  padding: 0;
  margin: 0;

  max-width: 100%;

  font-family: var(--Huninn);

  /* font-family: var(--paytone_one); */
  /* font-family: var(--Huninn); */
  /* font-family: var(--khula); */
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #f5ecffc3; /* Светло-синяя "тень-обводка" */
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px #f5ecffc3; /* Светло-синяя "тень-обводка" */
}

body {
  background-color: black;
}

/* html {
  overflow-x: hidden;
} */
*::selection {
  color: #050505;
  background-color: #bb8df5;
}

input[type="number"] {
  -moz-appearance: textfield; /* Для Firefox */
}

/* Для WebKit браузеров (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
