:root {
  --color-blue: #33a1fd;
  --color-blue2: #004dca;
  --color-white: #d9d9d9;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  max-width: 100%;

  /* overflow-x: hidden; */

  font-family: var(--m_plus_1p);

  /* font-family: var(--paytone_one); */
  /* font-family: var(--m_plus_1p); */
  /* font-family: var(--khula); */
}

body {
  background-color: black;
}

/* html {
  overflow-x: hidden;
} */
