.body {
  display: flex;
  align-items: start;
  justify-content: space-between;

  width: 100%;
  height: fit-content;

  padding-left: 5vw;
  padding-right: 5vw;
  box-sizing: border-box;
}

.mCanvas {
  margin-top: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.order {
  width: 500px;
  height: auto;

  .formTitle {
    margin-top: 50px;
    font-family: var(--paytone_one);
    color: white;
    text-align: start;
    font-weight: bold;
    font-size: 30px;

    margin-bottom: 20px;

    span {
      font-size: 16px;
    }
  }

  .orderPart {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;
    height: auto;

    .orderPartTitle {
      margin-top: 5px;

      font-family: var(--Huninn);
      color: white;
      text-align: start;
      font-weight: 500;
      font-size: 18px;
      margin-left: 40px;
    }

    .oP {
      display: flex;
      align-items: center;

      .oPT {
        font-family: var(--Huninn);
        color: white;
        text-align: start;
        font-weight: bold;
        font-size: 26px;
        margin-top: 10px;
        margin-left: 10px;
      }

      .oPN {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 13px;
        cursor: pointer;

        display: block;
        width: 13px;
        height: 13px;

        border-radius: 3px;
        border: 2px solid white;

        .oPNActive {
          position: absolute;
          top: 2px;
          left: 2px;
          width: 9px;
          height: 9px;

          background-color: #ff7ef6;
        }
      }
    }
  }
}

.form {
  margin-top: 50px;
  position: sticky;
  top: 80px;

  display: flex;
  align-items: center;
  flex-direction: column;

  width: 400px;
  height: fit-content;

  .formTitle {
    font-family: var(--paytone_one);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    max-width: 300px;
  }

  .formDiv {
    width: 100%;
    height: auto;
  }

  .iBtn {
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    height: 40px;

    border: 2px solid white;
    border-radius: 10px;

    font-weight: bold;
    font-size: 14px;
    font-family: var(--Huninn);
    color: white;

    background-color: rgba(0, 0, 0, 0.489);
    backdrop-filter: blur(5px);

    transition: 0.05s ease;
  }

  .iBtn:hover {
    opacity: 0.8;
  }

  .iBtn:active {
    transform: scale(0.95);
  }
}

.iBody1 {
  margin-top: 30px;
  position: relative;

  .iTitle1 {
    position: absolute;
    top: -23px;
    left: 15px;

    font-weight: 500;
    font-size: 15px;
    font-family: var(--Huninn);

    color: white;
    z-index: 6;
  }

  .iInput1 {
    width: 100%;
    height: 38px;

    border: 2px solid white;
    border-radius: 10px;

    font-weight: 400;
    font-size: 14px;
    font-family: var(--Huninn);
    color: white;

    padding-left: 10px;
    padding-bottom: 3px;
    box-sizing: border-box;

    background-color: rgba(0, 0, 0, 0.489);
    backdrop-filter: blur(5px);

    z-index: 5;

    transition: 0.5s ease-in-out;
  }
}

.iBody2 {
  margin-top: 40px;
  position: relative;
  width: 100%;
  height: fit-content;

  .iTitle {
    position: absolute;
    top: -23px;
    left: 15px;

    font-weight: 500;
    font-size: 15px;
    font-family: var(--Huninn);

    color: white;
    z-index: 6;
  }

  .iInput {
    width: 100%;
    height: 300px;

    border: 2px solid white;
    border-radius: 10px;

    font-weight: 400;
    font-size: 14px;
    font-family: var(--Huninn);
    color: white;

    padding: 5px 10px 5px 10px;
    box-sizing: border-box;

    resize: none;

    background-color: rgba(0, 0, 0, 0.489);
    backdrop-filter: blur(5px);

    z-index: 5;

    transition: 0.5s ease-in-out;
  }
}

.warn {
  background-color: #6320a29d !important;
  transition: 0.5s ease !important;
}

.pin {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: sticky;
  text-align: center;
  top: 50px;
  min-height: 60px;

  border-radius: 10px;
  border: 2px solid white;

  backdrop-filter: blur(5px);    

  padding: 10px 30px;
  box-sizing: border-box;

  z-index: 1000;
}

@media (max-width: 1050px) {
  .body {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: fit-content;

    padding-left: 5vw;
    padding-right: 5vw;
    box-sizing: border-box;
  }

  .order {
    width: 300px;
    height: auto;

    .formTitle {
      margin-top: 50px;
      font-family: var(--paytone_one);
      color: white;
      text-align: start;
      font-weight: bold;
      font-size: 24px;

      margin-bottom: 20px;

      span {
        font-size: 14px;
      }
    }

    .orderPart {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: start;

      width: 100%;
      height: auto;

      .orderPartTitle {
        margin-top: 5px;

        font-family: var(--Huninn);
        color: white;
        text-align: start;
        font-weight: 500;
        font-size: 18px;
        margin-left: 40px;
      }

      .oP {
        display: flex;
        align-items: center;

        .oPT {
          font-family: var(--Huninn);
          color: white;
          text-align: start;
          font-weight: bold;
          font-size: 22px;
          margin-top: 10px;
          margin-left: 10px;
        }

        .oPN {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          margin-top: 13px;
          cursor: pointer;

          display: block;
          width: 13px;
          height: 13px;

          border-radius: 3px;
          border: 2px solid white;

          .oPNActive {
            position: absolute;
            top: 2px;
            left: 2px;
            width: 9px;
            height: 9px;

            background-color: #ff7ef6;
          }
        }
      }
    }
  }

  .form {
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 300px;
    height: fit-content;

    .formTitle {
      font-family: var(--paytone_one);
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 30px;
      max-width: 300px;
    }

    .formDiv {
      width: 100%;
      height: auto;
    }

    .iBtn {
      cursor: pointer;
      margin-top: 10px;
      width: 100%;
      height: 40px;

      border: 2px solid white;
      border-radius: 10px;

      font-weight: bold;
      font-size: 14px;
      font-family: var(--Huninn);
      color: white;

      background-color: rgba(0, 0, 0, 0.489);
      backdrop-filter: blur(5px);

      transition: 0.05s ease;
    }

    .iBtn:hover {
      opacity: 0.8;
    }

    .iBtn:active {
      transform: scale(0.95);
    }
  }

  .iBody1 {
    margin-top: 30px;
    position: relative;

    .iTitle1 {
      position: absolute;
      top: -23px;
      left: 15px;

      font-weight: 500;
      font-size: 15px;
      font-family: var(--Huninn);

      color: white;
      z-index: 6;
    }

    .iInput1 {
      width: 100%;
      height: 38px;

      border: 2px solid white;
      border-radius: 10px;

      font-weight: 400;
      font-size: 14px;
      font-family: var(--Huninn);
      color: white;

      padding-left: 10px;
      padding-bottom: 3px;
      box-sizing: border-box;

      background-color: rgba(0, 0, 0, 0.489);
      backdrop-filter: blur(5px);

      z-index: 5;

      transition: 0.5s ease-in-out;
    }
  }

  .iBody2 {
    margin-top: 40px;
    position: relative;
    width: 100%;
    height: fit-content;

    .iTitle {
      position: absolute;
      top: -23px;
      left: 15px;

      font-weight: 500;
      font-size: 15px;
      font-family: var(--Huninn);

      color: white;
      z-index: 6;
    }

    .iInput {
      width: 100%;
      height: 300px;

      border: 2px solid white;
      border-radius: 10px;

      font-weight: 400;
      font-size: 14px;
      font-family: var(--Huninn);
      color: white;

      padding: 5px 10px 5px 10px;
      box-sizing: border-box;

      resize: none;

      background-color: rgba(0, 0, 0, 0.489);
      backdrop-filter: blur(5px);

      z-index: 5;

      transition: 0.5s ease-in-out;
    }
  }

  .warn {
    background-color: #6320a29d !important;
    transition: 0.5s ease !important;
  }
}
