.main {
  margin-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: auto;
  overflow: hidden;

  .mainTitle {
    height: 330px;
    font-family: var(--khula);
    font-weight: 900;

    font-size: 220px;
    text-transform: uppercase;
    color: var(--color-white);

    z-index: 1;
  }

  .mainCanvas {
    position: relative;
    top: -250px;
    width: 500px;
    height: 800px;

    // background-color: rgba(255, 0, 0, 0.252);
    z-index: 2;
  }

  .mainDescL {
    font-family: var(--khula);
    position: absolute;
    top: 50%;
    left: 8%;

    width: 270px;

    line-height: 23px;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-white);
    text-align: center;
  }

  .mainDescR {
    font-family: var(--khula);
    position: absolute;
    top: 70%;
    right: 8%;

    width: 300px;

    line-height: 23px;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-white);
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .main {
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;

    .mainTitle {
      height: 230px;
      font-family: var(--khula);

      font-size: 150px;
      text-transform: uppercase;
      color: var(--color-white);

      z-index: 1;
    }

    .mainCanvas {
      position: relative;
      top: -200px;
      width: 400px;
      height: 600px;

      z-index: 2;
    }

    .mainDescL {
      font-family: var(--khula);
      position: absolute;
      top: 50%;
      left: 8%;

      width: 260px;

      line-height: 23px;
      font-size: 18px;
      font-weight: 600;
      color: var(--color-white);
      text-align: center;
    }

    .mainDescR {
      font-family: var(--khula);
      position: absolute;
      top: 70%;
      right: 8%;

      width: 280px;

      line-height: 23px;
      font-size: 18px;
      font-weight: 600;
      color: var(--color-white);
      text-align: center;
    }
  }
}

@media (max-width: 800px) {
  .main {
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;

    .mainTitle {
      height: 150px;
      font-family: var(--khula);

      font-size: 100px;
      font-size: bold;
      text-transform: uppercase;
      color: var(--color-white);

      z-index: 1;
    }

    .mainCanvas {
      position: relative;
      top: -150px;
      width: 80%;
      height: 600px;
      z-index: 2;
    }

    .mainDescL {
      display: none;
      font-family: var(--khula);
      position: absolute;
      top: 50%;
      left: 8%;

      width: 260px;

      line-height: 23px;
      font-size: 18px;
      font-weight: 600;
      color: var(--color-white);
      text-align: center;

      z-index: 3;
      opacity: 0;
      text-shadow: rgb(0, 0, 0) 3px 0 5px;
    }

    .mainDescR {
      display: none;
      opacity: 0;
      font-family: var(--khula);
      position: absolute;
      top: 70%;
      right: 8%;

      width: 280px;

      line-height: 23px;
      font-size: 18px;
      font-weight: 600;
      color: var(--color-white);
      text-align: center;

      z-index: 3;
      text-shadow: rgb(0, 0, 0) 3px 0 5px;
    }
  }
}

@media (max-width: 600px) {
  .main {
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;

    .mainTitle {
      height: 100px;
      font-family: var(--khula);

      font-size: 80px;
      font-size: bold;
      text-transform: uppercase;
      color: var(--color-white);

      z-index: 1;
    }

    .mainCanvas {
      position: relative;
      top: -100px;
      width: 90%;
      height: 600px;

      z-index: 2;
    }

    .mainDescL {
      font-family: var(--khula);
      position: absolute;
      top: 40%;
      left: 50px;

      width: 260px;

      line-height: 23px;
      font-size: 18px;
      font-weight: 600;
      color: var(--color-white);
      text-align: center;
    }

    .mainDescR {
      font-family: var(--khula);
      position: absolute;
      top: 65%;
      right: 50px;

      width: 280px;

      line-height: 23px;
      font-size: 18px;
      font-weight: 600;
      color: var(--color-white);
      text-align: center;
    }
  }
}

@media (max-width: 500px) {
  .main {
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    height: auto;

    .mainTitle {
      height: 100px;
      white-space: nowrap;
      font-family: var(--khula);

      font-size: 80px;
      font-size: bold;
      text-transform: uppercase;
      color: var(--color-white);

      z-index: 1;
    }

    .mainCanvas {
      position: relative;
      top: -80px;
      width: 300px;
      height: 500px;

      z-index: 2;
    }

    .mainDescL {
      opacity: 0;
      font-family: var(--khula);
      position: absolute;
      top: 40%;
      left: auto;

      width: 260px;

      line-height: 23px;
      font-size: 18px;
      font-weight: 600;
      color: var(--color-white);
      text-align: center;
    }

    .mainDescR {
      opacity: 0;
      font-family: var(--khula);
      position: absolute;
      top: 70%;
      right: auto;

      width: 280px;

      line-height: 23px;
      font-size: 18px;
      font-weight: 600;
      color: var(--color-white);
      text-align: center;

      z-index: 1;
    }
  }
}

@media (max-width: 350px) {
  .main {
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    height: auto;

    .mainTitle {
      height: 100px;
      white-space: nowrap;
      font-family: var(--khula);

      font-size: 50px;
      text-transform: uppercase;
      color: var(--color-white);

      z-index: 1;
    }

    .mainCanvas {
      position: relative;
      top: -100px;
      width: 300px;
      height: 600px;

      z-index: 2;
    }

    .mainDescL {
      opacity: 0;
      font-family: var(--khula);
      position: absolute;
      top: 40%;
      left: auto;

      width: 260px;

      line-height: 23px;
      font-size: 18px;
      font-weight: 600;
      color: var(--color-white);
      text-align: center;
    }

    .mainDescR {
      opacity: 0;
      font-family: var(--khula);
      position: absolute;
      top: 70%;
      right: auto;

      width: 280px;

      line-height: 23px;
      font-size: 18px;
      font-weight: 600;
      color: var(--color-white);
      text-align: center;

      z-index: 1;
    }
  }
}
